.productos .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 4.5rem;
}

.productos .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}

.productos .box-container .box .descuento {
    position: absolute;
    top: 1rem; left: 1rem;
    padding: .6rem 1rem;
    font-size: 1.3rem;
    background: #d3c4b7;
    z-index: 1;
    border-radius: .5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.productos .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;

}

.productos .box-container .box .image img{
    height: 29rem;

}

.productos .box-container .box:hover .image img{
    transform: scale(1.1);
    
}

.productos .box-container .box .content {
    padding: 2rem;
    text-align: center;

}

.productos .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #2e2e2e;
    font-family: 'MiFuentePersonalizada', sans-serif;
}

.productos .box-container .box .content .precio {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
    color: #4e4033;
} 

.productos .box-container .box .content .precio span{
    font-size: 1.5rem;
    font-weight: lighter;
    text-decoration: line-through;
} 