
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(218, 217, 217);
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

form {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
}

.col-12{
    padding-bottom: 6px;
}

.form-control{
    background-color: rgb(173, 173, 173);
}

.btn-dark {
    background-color: rgb(173, 173, 173);
    border-color: rgb(173, 173, 173);
    color: #000;
}

.bg-dark {
    background-color: rgb(173, 173, 173) !important;
    border-color: rgb(173, 173, 173) !important;
    color: #000 !important; 
}

.btn-dark:hover {
    color: black;
    background-color: #d3c4b7; /* color de fondo */
    border-color: #d3c4b7; /* color del borde */
}
